.fadein {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  background-color: rgba(0,0,0, 0);
}

.fadeout {
  opacity: 0;
  -webkit-transition: opacity 2s ease-out;
  background-color: rgba(0,0,0, 0);
}

#location, #duration {
    font: 24px arial, sans-serif, helvetica;
    font-weight: bold;
    padding: 16px;
    text-align:center;
}

#locationicon {
    
    max-height: 33%;
}

span.left span.right {
    color: dark-grey;
}

#location_num {
    font: 64px arial, sans-serif, helvetica;
    font-weight: bold;
    color: dark-grey;
    padding: 16px;
    text-align:center;
}

#weight {
    width: 100%;
    text-align:center;
    padding: 0;
    margin: 0;
}
#weightdisplay {
    font: 50px arial, sans-serif, helvetica;
    font-weight: bold;
    padding: 16px;
    //display: none;
}
#content table {
    width: 100%;
    border-spacing: 0;
}
#content td {
    font: 10px;
}

#debugmessages {
  height: 16ex !important;
}
