<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.whitebream.ezlock.demo" 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    version="0.1.0">

    <name>ezLock</name>
    
    <description>
        Concept for ezLock phone app.
    </description>
    
    <author email="hbliek@whitebream.nl" href="http://whitebream.nl/">
        Henk Bliek, White Bream
    </author>
    
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
    <!--gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" /-->
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.2" />
    <gap:plugin name="com.footprint.cordova.plugin.local-notification" version="0.8.0" />
    <gap:plugin name="de.appplant.cordova.plugin.badge" version="0.6.2" />
    <gap:plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" version="1.2.0" />
    
    <gap:plugin name="com.chariotsolutions.nfc.plugin" version="0.5.1" />
    
    <icon src="images/lock.png" width="225" height="225" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
</widget>
